body {
    min-height:100vh;
    background: linear-gradient(coral, green);
}

main {
    height:80vh;
    border:1px black;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
}

section {
    background: orange;
    border: 1px solid black;
    flex-basis: 200px;
    flex-grow:1;
    flex-shrink:0;
    
}

#special {
    background-color: cornflowerblue;

}